html {
  background-color: rgb(200, 188, 188);
}

.background {
  background-image: url("../images/newspaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}

.main-header {
  margin: 0 auto;
  font-size: 80px;
  background-color: rgba(62, 57, 57, 0.8);
  padding: 15px 15px;
}

.news-cards {
  background-color: white;
}

.modal-title {
  padding: 15px;
  font-weight: bold;
}

#articleCount {
  font-size: 20px;
}

#modalClose1 {
  border: 1px solid black;
  background-color: rgb(83, 236, 83);
}

#modalClose1:hover {
  background-color: rgb(22, 144, 22);
}

#scrapeModal {
  border: 2px solid black;
}

.article-title h3 a{
  color: white;
}

.saveBtnDiv, .deleteBtn, .commentBtn {
  margin-top: 20px;
}

.article-summary {
  font-weight: bold;
  font-size: 15px;
}